.month-card-component {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

@media (min-width: 768px) {
    .month-card-component {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .month-card-component {
        max-width: 800px;
    }
}


.month-card-container li {
    color: black;
    font-size: 1em;

}

.month-card-container {
    padding-top: 1em;

}

.card-category {
    align-items: left;
}

.month-card-item-description {
    text-align: left;
}

.month-card-item-money {
    text-align: right;
}


@media (max-width: 768px) {
    .multi-column {
        column-count: 1 !important;
    }

    .month-card-h5 {
        text-align: left;
    }

    .month-card-item-money {
        text-align: left;
    }

    .container {
        max-width: 400;
    }
}

.multi-column {
    column-count: 2;
    column-gap: 2rem;
}

.block {
    break-inside: avoid;
}

.list-unstyled.month-card-item {

    margin-bottom: 0;
}