@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  --pink-theme_white: #f6f6f6;
  --pink-theme_main: #ffc7c7;
  --pink-theme_secondary: #ffe2e2;
  --pink-theme_font: #aaaaaa;
  --pink-theme_h5: #EA86B6;
  --pink-theme_blue: #A7D3F2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--pink-theme_main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-clean: "Poiret One", sans-serif;
  --font-handwritten: 'Kalam', cursive;
  --font-numbers: "Poppins", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--font-clean);
  padding: 1rem;
}


.title-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary-pink {
  background-color: var(--pink-theme_main) !important;
}

.btn-primary-pink:hover {
  background-color: var(--pink-theme_h5) !important;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

}


.add-new-card-btn {
  background-color: #1a1a1a;
  size: auto;

}

.add-new-card-btn:hover {
  background-color: var(--pink-theme_h5);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


input {
  color-scheme: light;

}

span {
  padding: 0em 0.3em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.savings-div {
  background: #f8f9fa;
  padding: 1.5rem;
  border-radius: 0.5rem;

}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-row {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: 0.25em;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
}

.errMsgPassword {
  color: red;
}

.card-go-to-title {
  color: black;
  background-color: transparent;
  font-size: 1.8em;
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease;
  text-decoration: none;
  transform: scale(1.05);

}

.card-go-to-title:hover {
  color: var(--pink-theme_main);
  font-size: 2em;
  text-decoration: none;


}

.see-all-link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.see-all-link:hover {
  color: rgb(59, 59, 59);
  text-decoration: underline;
}

.card-library {
  max-width: 540px;
}

.error-message {
  color: red;
  padding: 5px;
}

.profile-container {
  width: 90%;
}

.month-finances-h {
  color: var(--pink-theme_h5);
  margin-bottom: 15px;
}


.see-all-link {
  color: var(--pink-theme_h5);
}

.card-go-to-title {
  text-decoration: none;
  color: black;
}

.default-items-div {

  margin-top: 2rem;
}

.save-default-item {

  margin: 1rem;

}


.default-items-group {
  margin-top: 1.5rem;
}

.default-items-group h5 {
  border-bottom: 2px solid var(--pink-theme_h5);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.delete-list-item-btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.floating-save-btn button {
  background-color: var(--pink-theme_h5);
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  animation: pulse 1.2s infinite;

  transition:
    top 0.4s ease,
    left 0.4s ease,
    background-color 0.3s ease,
    transform 0.25s ease;
}


@media (min-width: 1200px) {}

/* Standard desktops/laptops (min-width: 992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .floating-save-btn button {
    top: 50%;
    left: 10%;
  }
}

@media (max-width: 768px) {
  .card-body {
    padding: 1.5rem !important;
  }

  .default-items-group {
    padding: 1rem;
  }

  .savings-div {
    padding: 1rem;
  }

  .floating-save-btn button {
    left: 5%;
  }

}

/* Mobile phones (max-width: 576px) */
@media (max-width: 576px) {

  .floating-save-btn button {

    top: 50%;
    left: 5%;


  }

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


.profile-info-div {
  padding: 2rem 0 2rem 0;
}

.floating-save-btn button:hover {
  background-color: var(--pink-theme_blue);
  transform: translateY(-50%) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}