@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  /* LIGHT-PINK*/
  --pink-theme_white: #f6f6f6;
  --pink-theme_main: #ffc7c7;
  --pink-theme_secondary: #ffe2e2;
  --pink-theme_font: #aaaaaa;
  --pink-theme_h5: #d66b96;
  --pink-theme_blue: #A7D3F2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-clean: "Poiret One", sans-serif;
  --font-handwritten: 'Kalam', cursive;
  --font-numbers: "Poppins", sans-serif;

}


/* For other browsers */

[data-theme='light'] {
  --main-background: #F6EFEA;
  --background: #F9F7F7;
  --secondary-background: #F1E8DE;
  --text-primary: #144D90;
  --text-secondary: #144D90;
  --white: #F2E4DCff;
  --semi-accent: #A9BACA;
  --accent: #F3D1C8;
  --accent-variant: #C49999;
}

[data-theme='green'] {
  --white: #DAD7CD;

  --main-background: #FEFDF9;
  --background: #DAD7CD;

  --text-primary: #344E41;
  --text-secondary: #9CAA8A;
  --accent: #A3B18A;
  --semi-accent: #588157;
  --accent-variant: #C4D4B0;
}

[data-theme='dark'] {
  --main-background: #191C21ff;
  --background: #25282Fff;
  --white: #FFFFFF;
  --text-primary: #E0E0E0;
  --text-secondary: #5890CCff;
  --semi-accent: #7BA7D7ff;
  --accent: #3D4A5Dff;
  --accent-variant: #444444;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--main-background) !important;
  color: var(--text-primary) !important;
  /* Add this */

}

p {
  color: var(--text-primary);
}

a {
  text-decoration: none !important;
}

table {
  color: var(--text-primary);
}

li {
  color: var(--text-primary);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--font-clean);
  padding: 1rem;
  color: var(--text-primary) !important;
}

h2 {
  color: var(--text-primary) !important;
}

h4 {
  color: var(--text-primary) !important;
}


h5 {
  color: var(--text-primary) !important;
}

input {
  color: var(--text-primary) !important;
  box-shadow: 0 0 0 0.1rem var(--accent) !important;
  border-color: var(--accent) !important;
  border-width: 0 0 0 0.1rem;
  background-color: var(--main-background) !important;
  caret-color: var(--text-primary) !important;
  /* Add this line */


}

input:focus {
  outline: none;
  border: 0.2rem solid var(--semi-accent) !important;
  box-shadow: 0 0 0 0.1rem var(--semi-accent) !important;
  caret-color: var(--text-primary) !important;
  /* Add this line */


}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--main-background) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  color: var(--text-primary) !important;
  caret-color: var(--text-primary) !important;
  background-color: var(--main-background) !important;
  background-image: none !important;
}

input:autofill {
  background-color: var(--main-background) !important;
  color: var(--text-primary) !important;
  caret-color: var(--text-primary) !important;
  /* Add this line */

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: var(--text-primary);
}

button:hover {
  background-color: var(--semi-accent) !important;
}

.profile-div button {
  background-color: var(--semi-accent) !important;
}

.profile-div button:hover {
  background-color: var(--accent) !important;
}

.new-expense-price-input {
  background-color: var(--main-background) !important;
}

.form-floating.form-control {
  background-color: var(--main-background) !important;
}

.input-wrapper.form-floating.input {
  border-radius: 5rem !important;
}

.card-summary-div a:hover {
  font-size: 18px;
  font-size: 1.8em;
  cursor: pointer;
}

.card-summary-div:hover {
  cursor: pointer;
  background-color: var(--accent) !important;

}

/* FLOATING LABEL BACKGROUND*/


.input-wrapper .form-floating label,
.input-wrapper .form-floating.new-expense-price-input label {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  height: auto;
}

.input-wrapper .form-floating label,
.input-wrapper .form-floating .label-input {
  background-color: transparent !important;
  background: var(--accent) !important;
  border: none !important;
  color: var(--text-primary) !important;
  border-radius: 0.5rem;

}

.input-wrapper .form-floating label::before,
.input-wrapper .form-floating label::after {
  background: transparent !important;
  background-color: transparent !important;
}

/* FLOATING LABEL BACKGROUND*/

.title-div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: var(--background) !important;
}


.add-new-card-btn {
  background-color: #1a1a1a;
  size: auto;

}

.add-new-card-btn:hover {
  background-color: var(--accent);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


span {
  padding: 0em 0.3em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.savings-div {
  border-radius: 0.5rem;
  border: dashed 0.2rem;
  border-color: var(--text-primary);
  background-color: var(--accent);
  width: fit-content;
  padding: 1.5rem 5rem 1.5rem 5rem;
  margin-left: auto;
  margin-right: auto;

}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-row {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: 0.25em;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.9rem;
}

input {
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
}

.input-wrapper.new-item button {
  background: var(--semi-accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
}

.input-wrapper.new-item button:hover {
  background: var(--accent) !important;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


.errMsgPassword {
  color: red;
}

.card.profile-div {

  width: 800px;
  padding: 1rem 5rem 1rem 5rem;

}

.card-go-to-title {
  color: var(--text-primary);
  background-color: transparent;
  font-size: 1.8em;
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease;
  text-decoration: none;
  transform: scale(1.05);
}

.card-go-to-title:hover {
  font-size: 2em;
  text-decoration: none;
  color: var(--semi-accent);
}

.card-go-to-title.small {
  font-size: 1em;
  color: var(--text-primary);
}

.card-go-to-title.small:hover {
  font-size: 1.1em;
  color: var(--text-secondary) !important;

}

.filtering-cards-div {
  padding: 1rem;
}


/* display summary grid in columns*/

.summary-responsive {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-height: 40px;
  /* Adjust this - roughly 40px per row × 3 rows */
  gap: 0;
  color: var(--accent)
}

.year-item {
  font-weight: bold;
  grid-column: 1 / -1;
  color: var(--text-primary) !important;

}

.card-item {
  padding-left: 10px;
}

.summary-columns {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .summary-responsive {
    grid-template-columns: 1fr;
  }

  .card.profile-div {
    max-width: 500px;
    margin: auto;
  }

  #root {
    padding: 0 0 1rem 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .summary-responsive {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media (min-width: 1201px) {
  .summary-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**/

.left-aligned-content {
  text-align: left !important;
  list-style: none;
  padding: 1.5rem !important;
  ;
}

.left-aligned-content ul {
  padding-left: 0;
}

.left-aligned-content li {
  text-decoration: none;
  list-style: none;
}

.left-aligned-content p {
  text-align: left;
  margin-bottom: 0;
  font-weight: bolder;
  color: var(--accent-variant);
}

.see-all-link {
  color: var(--text-primary);
  background-color: transparent;
  text-decoration: none;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.see-all-link:hover {
  color: var(--semi-accent);
  text-decoration: none;
}

.card-library {
  max-width: 540px;
}

.error-message {
  color: red;
  padding: 5px;
}

.profile-container {
  width: 90%;
}

.month-finances-h {
  color: black;
  margin-bottom: 15px;
}


.default-items-div {

  margin-top: 2rem;
}

.save-default-item {

  margin: 1rem;

}


.default-items-group {
  margin-top: 1.5rem;
}

.default-items-group h5 {
  border-bottom: 2px solid var(--accent);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.delete-list-item-btn {
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  position: relative;
  top: -3px;
}

.user-profile-btn {
  border-radius: 0.75rem;
  margin-bottom: 5px;
}

.avatar-profile-section {
  border-radius: 0.75rem;

}

.floating-save-btn button {
  background-color: var(--accent);
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  animation: pulse 1.2s infinite;

  transition:
    top 0.4s ease,
    left 0.4s ease,
    background-color 0.3s ease,
    transform 0.25s ease;
}


@media (min-width: 1200px) {}

/* Standard desktops/laptops (min-width: 992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .floating-save-btn button {
    top: 50%;
    left: 10%;
  }
}

@media (max-width: 768px) {
  .card-body {
    padding: 1.5rem !important;
  }

  .default-items-group {
    padding: 1rem;
  }

  .savings-div {
    padding: 1rem;
  }

  .floating-save-btn button {
    left: 5%;
  }

  .left-aligned-content {
    padding-bottom: 3.5rem !important;

  }

}

/* Mobile phones (max-width: 576px) */
@media (max-width: 576px) {

  .floating-save-btn button {
    top: 50%;
    left: 5%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


.profile-info-div {
  padding: 2rem 0 2rem 0;
}

.floating-save-btn button:hover {
  background-color: var(--accent-variant);
  transform: translateY(-50%) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.recent-cards-div {

  padding-top: 2.5rem;
}

.recent-cards-div h1 {
  font-size: 35px;
}


.default-items-table {
  display: flex;
  justify-content: center;
}

.default-items-div p {
  font-weight: bold;
  color: var(--text-secondary);
}


.separating-line {
  padding: 0.7rem;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  /* Remove the border-bottom from here */
}

.separating-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  right: calc(0.5rem + 30px);
  border-bottom: 1px solid var(--accent);
}

.editing-profile-div {

  margin-top: 1.5rem;
}

.info-warning {
  margin-left: 10px;
  margin-top: 20px;

}

.footer-div {
  background-color: var(--accent);
}


.footer-div a {
  color: var(--text-primary);
}

.about-section {

  margin-top: 5rem;
}