.avatar-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar-element {
    text-align: center;
    justify-content: center;
}

.navbar-div {
    background-color: var(--accent)
}

.navbar-div h1 {
    padding: 0rem;
    margin-left: 10px;
}

.navbar-div h1:hover {
    animation: heartbeat 4.5s ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.2);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(1);
    }
}

.palette-dot {
    display: inline-block;
    width: 15px;
    height: 20px;
    background-color: #ffc7c7;
    margin-right: 5px;
}

.palette-dot.theme_pink_1 {
    background-color: #A7D3F2;
}

.palette-dot.theme_pink_2 {
    background-color: #f6f6f6
}

.palette-dot.theme_pink_3 {
    background-color: #ffe2e2  ;
}

.palette-dot.theme_pink_4 {
    background-color: #ffc7c7 ;
}

.palette-dot.theme_pink_5 {
    background-color: #d66b96  
}

/* Green theme colors from lightest to darkest */
.theme_green_1 {
  background-color: #DAD7CD; /* Lightest - white */
}

.theme_green_2 {
  background-color: #C4D4B0; /* Light green */
}

.theme_green_3 {
  background-color: #A3B18A; /* Medium - background green */
}

.theme_green_4 {
  background-color: #588157; /* Darker - text primary/accent */
}

.theme_green_5 {
  background-color: #344E41; /* Darkest - text secondary */
}


.navbar .dropdown-item {
    padding: 0 12px;
    /* Reduce padding */
    white-space: nowrap;
    /* Prevent text wrapping */
}