.month-card-component {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.month-card-h5 {
  padding: 5px;

}

.month-card-container li {
  color: black;
  font-size: 1em;

}

.month-card-container {
  padding-top: 1em;

}

.card-category {
  align-items: left;
}

.month-card-item-description {
  text-align: left;
}

.month-card-item-money {
  text-align: right;
}

.multi-column {
  column-count: 2;
  column-gap: 2rem;


  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  max-width: none;
  width: 100%;
}

.group-column {
  min-width: 360px;
  transition: all 0.2s ease;
}


@media (max-width: 768px) {
  .multi-column {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .group-column {
    padding: 1rem;
  }

  .month-card-h5 {
    text-align: left;
  }

  .month-card-item-money {
    text-align: left;
  }

  .container {
    max-width: 400;
  }
}

@media (min-width: 1400px) {
  .multi-column {
    gap: 3rem;
  }

  .group-column {
    padding: 0.5rem;
  }
}

/* Remove any container width restrictions */
.month-card-component {
  max-width: none !important;
  width: 100% !important;
}

.month-card-container {
  max-width: none !important;
  width: 100% !important;
}



.block {
  break-inside: avoid;
}

.list-unstyled.month-card-item {

  margin-bottom: 0;
}

.input-wrapper.new-item button {
  background: var(--background);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
}

.input-wrapper.new-item button:hover {
  background: var(--accent-variant);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;

}

.delete-list-item-btn {
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
  transition: all 0.2s ease;

}

.delete-list-item-btn:hover {
  background-color: var(--background);
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.delete-list-item-btn:active {
  transform: scale(0.95);
}

.two-line-input {
  flex-direction: column;
}

.stacked-inputs .form-floating {
  margin-bottom: -1px;
  /* Merge borders visually */
  padding: 4 4 6 6;
}

.stacked-inputs .form-control {
  border-radius: 0;
  font-size: 12px;
  /* Remove radius from middle inputs */
}

.stacked-inputs .form-floating:first-child .form-control {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.stacked-inputs .form-floating:last-child .form-control {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}