:root {
  --pink-theme_white: #f6f6f6;
  --pink-theme_main: #ffc7c7;
  --pink-theme_secondary: #ffe2e2;
  --pink-theme_font: #aaaaaa;
  --pink-theme_h5: #EA86B6;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



